

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
  body{
    font-family: montserrat;
    height: 100vh;
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 32px;
    background-color: black;
    
  }
  nav{
    background: #4d06cf;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #000000;
    transition: .5s;
    border-radius: 10px;
  }
  .text-danger {
    color: #ff0000;
}
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    
  }
  #check{
    display: none;
    
  }
  
.faq{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    
}

.question{
  font-size: xx-large;
  padding: 9px;
}
.answer{
  padding: 10px;
  font-size: x-large;
}
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    
    nav ul li a{
      font-size: 16px;
    }

  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
      
    }

    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #4d06cf;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: black;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

  body.no-scroll {
    overflow: hidden;
  }
  .space{
    background-color: black;
    background-size: cover;
    
  }
  
 
  .content1{
    position: relative;
    margin: 130px auto;
    text-align: center;
    padding: 0 20px;
  }
  .content1 .text{
    font-size: 2.5rem;
    font-weight: 600;
    color: #202020;
  }
  .content1 .p{
    font-size: 2.1875rem;
    font-weight: 600;
    color: #202020;
  }
  footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #111;
    position: sticky;
    top: 100%;
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
    
  }
  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #4d06cf;
    top: -10px;
    
  }
  .left .content p{
    text-align: justify;
  }
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding: 0 2px;
  }
  .left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
    
  }
  .left .content .social a span:hover{
    background: #4d06cf;
  }
  .center .content .fas{
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content .fas:hover{
    background: #4d06cf;
  }
  .center .content .text{
    font-size: 1.0625rem;
  }
  .center .content .phone{
    margin: 15px 0;
  }
  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #3498db;
  }
  .right form input{
    height: 35px;
  }
  .right form .btn{
    margin-top: 10px;
  }
  .right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #4d06cf;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
  }
  .right form .btn button:hover{
    background: #000;
  }
  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  .bottom center span{
    color: #656565;
  }
  .bottom center a{
    color: #4d06cf;
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }
  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
    
  }
.content{
  border-radius: 0px;
  cursor: pointer;
}
  .h1 {
    text-align: center;
    margin-top: 50px;
    font-size: xx-large;
    padding: 3px;
}

.option{
  color: white;
  background-color: black;
  
}

input[type="text"], select {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    border-radius: 80px;
    color: black;
}

input[type="text"]{
  padding: 17px;
}
button[type="submit"] {
    padding: 10px 30px;
    background-color: #520cc2;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    
}
button[type="submit"]:hover{
  background-color:#ffffff ;
  color: black;
}
#error-message {
    color: red;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

#iframe-container {
    margin-top: 50px;
}
#url{
  color: black;
}

.checking{
  border-radius: 40px 40px 40px 40px;
  background-color: black;
  width: 50%;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
}


form {
position: relative; /* Set position to relative */
z-index: 1; /* Increase the z-index of the form */
width: 50%;
margin: 0 auto;
text-align: center;
color: white;
}

.faqhead{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}